html,
body {
    height: 100%;
}

.dark-mode {
    background-color: #28282B;
    color: white;
}

.container {
    height: 100%;
}

.navbar-nav li>a:hover {
    color: #333;
}

.navbar-nav li>a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.navbar-nav li>a:hover::after {
    width: 100%;
}

.navbar-nav li>a {
    color: black;
}

.dark .navbar-nav li>a {
    color: #fff;
}

.dark .navbar-nav li>a:after {
    background: #fff;
}

.fa {
    padding-right: 10px;
}

.typewriter p {
    color: black;
    font-family: monospace;
    overflow: hidden;
    border-right: .0.2em solid grey;
    white-space: nowrap;
    letter-spacing: .0.1em;
    animation:
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

.active.dark {
    color: white !important;
}
